

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0d001b;
    color: white;
    text-align: center;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho */
.cabecalho {
    padding: 15px 25px;
    background-color: #000000;
    color: rgb(245, 236, 236);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho nav a {
    color: white;
    text-decoration: none;
}

/* Conteúdo principal */
main {
    padding: 30px;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 25px;
}

/* Área dos cartões */
section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 16px;
}

/* Cartão */
.cartao {
    width: 260px;
    height: 300px;
    perspective: 1000px;
}

/* Parte interna que gira */
.cartao-interno {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Animação ao passar o mouse */
.cartao:hover .cartao-interno {
    transform: rotateY(180deg);
}

/* Frente e verso */
.cartao-frente,
.cartao-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    overflow: hidden;
    background-color: rgb(39, 44, 58);
    box-shadow: 0 4px 10px rgba(24, 23, 23, 0.363);
}

/* Imagens */
.cartao-imagem {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* Textos dos cartões */
.cartao-frente p,
.cartao-verso p {
    padding: 15px;
    font-size: 16px;
    color: white;
}

/* Verso do cartão */
.cartao-verso {
    transform: rotateY(180deg);
}

/* Rodapé */
footer {
    padding: 15px;
    background-color: #000000;
    color: white;
    font-size: 14px;
}

